/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body, h1, h2, div, label, select {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #666;
}

.chart-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#chart1Canvas, #chart2Canvas {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#chart3 {
    text-align: center;
}

svg {
    display: inline-block;
}

